<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.ui.actionSets">
      <actionSet
            id="com.gregorbyte.designer.headless.actionSet"
            label="Sample Action Set"
            visible="true">
         <menu
               id="sampleMenu"
               label="Sample &amp;Menu">
            <separator
                  name="sampleGroup">
            </separator>
         </menu>
         <action
               class="com.gregorbyte.designer.headless.actions.SampleAction"
               icon="icons/sample.gif"
               id="com.gregorbyte.designer.headless.actions.SampleAction"
               label="&amp;Sample Action"
               menubarPath="sampleMenu/sampleGroup"
               toolbarPath="sampleGroup"
               tooltip="Hello, Eclipse world">
         </action>
      </actionSet>
   </extension>
   <extension
         point="org.eclipse.equinox.http.registry.servlets">
      <servlet
            alias="/headless"
            class="com.gregorbyte.designer.headless.servlet.DesignerBuildServlet"
            load-on-startup="true">
      </servlet>
   </extension>

</plugin>
