<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.ui.actionSets">
      <actionSet
            id="com.gregorbyte.designer.headless.actionSet"
            label="Headless Server"
            visible="true">
         <menu
               id="sampleMenu"
               label="Headless Server">
            <separator
                  name="sampleGroup">
            </separator>
         </menu>
         <action
               class="com.gregorbyte.designer.headless.actions.StartServerAction"
               icon="icons/running.gif"
               id="com.gregorbyte.designer.headless.action3"
               label="Start Headless Server"
               menubarPath="sampleMenu/sampleGroup"
               style="push"
               toolbarPath="sampleGroup"
               tooltip="Start the Headless Server">
         </action>
         <action
               class="com.gregorbyte.designer.headless.actions.StopServerAction"
               icon="icons/stopped.gif"
               id="com.gregorbyte.designer.headless.action1"
               label="Stop Headless Server"
               menubarPath="sampleMenu/sampleGroup"
               style="push"
               toolbarPath="sampleGroup"
               tooltip="Stop the Headless Server">
         </action>
         <!--
         <action
               class="com.gregorbyte.designer.headless.actions.TestAction"
               icon="icons/sample.gif"
               id="com.gregorbyte.designer.headless.actiontest"
               label="Test Action"
               menubarPath="sampleMenu/sampleGroup"
               style="push"
               toolbarPath="sampleGroup"
               tooltip="Test Action">
         </action>
         -->
      </actionSet>
   </extension>
   <extension
         point="org.eclipse.ui.preferencePages">
      <page
            class="com.gregorbyte.designer.headless.preferences.HeadlessServerPreferencePage"
            id="com.gregorbyte.designer.headless.preferences.HeadlessServerPreferencePage"
            name="Headless">
      </page>
   </extension>
   <extension
         point="org.eclipse.core.runtime.preferences">
      <initializer
            class="com.gregorbyte.designer.headless.preferences.PreferenceInitializer">
      </initializer>
   </extension>
   <extension
         point="org.eclipse.ui.startup">
      <startup
            class="com.gregorbyte.designer.headless.HeadlessStartup">
      </startup>
   </extension>


</plugin>
